/* ----- общие ----- */
body {

    background-color: #e0e0e0;
    background-image: url(../FirstLayout/img/bg.png);
    padding:0 5% 0 5% ;
}

header{
  background-color:rgb(233, 144, 11);
  display: flex;

}

h2{
  font-size: 64px;
  text-transform: uppercase;
}

button{
  cursor:pointer;
  border: 0;
  border-radius: 25px;
  outline:none;

  text-indent: 0px;
  border: 1px solid #888;
  -webkit-transition: all 0.5s ease-in-out;

}

button:hover {
  transform: translateY(-5px);
  -webkit-transition: all 1s ease-in-out;

}



/*  навигация и лого   */
.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;


    position: fixed;
    z-index: 3;
  
}
.top-menu:after {
  content: "";
  display: inline-flex;

  clear: both;
}

.navbar-logo {
  display: inline-flex;

  width: auto;
  
}

.menu-main {
  list-style-type: none;

  float: right;
  display: inline-flex;

}



/* стиль текста меню */
.menu-main a {

  text-decoration: none;
  font-size: 23px;
  color: #12100d;
  padding: 0px 18px;

}

.menu-main li {
  display: inline-flex;

  margin-right: 25px;

}


/* цвет наведение на меню */
.menu-main a:hover {
  -webkit-transition: all 1s ease-in-out;
  background-color: rgba(245, 212, 78, 0.137);
  border-radius: 25px;
  

}



/* при сужении всё в столб с выравниванием на ширину лого */
@media (max-width: 720px) {
  .menu-main {
    float: none;
    padding-top: 20px;
  }
  .top-menu {
    text-align: center;
    padding: 20px 0 0 0;
  }
  .menu-main a {padding: 0 10px;}
  .menu-main a:before {transform: rotate(45deg) translateX(-6px);}


}


/* ----- слайдер ----- */
.sliders  {
  text-align: center;
}

#slides{
  display: flex;
  /* position: relative; */
  width: auto;
  height: auto;
  /* padding: 0px; */
  /* margin: 0px; */
  /* list-style-type: none; */

  /* flex-wrap: wrap; */
  justify-content: center;
  /* align-items: center; */
  min-height: 75vh;

  margin: 5%;
}

.sliders button {
  width: 25%;
  height: 40px;
  margin: 0 0 1% 0;
  background-color:rgb(233, 144, 11);

}
.slide{
  
  /* width: 700px; */
  /* height: 380px; */
  position: absolute;
  /* left: 0px; */
  /* top: 0px; */
  /* width: 100%; */
  /* height: 100%; */
  opacity: 0;
  z-index: 1;
  /* padding: 20px; */
  box-sizing: border-box;
  color: #fff;
}

.showing{
  opacity: 1;
  z-index: 2;
}






/* ----- about us ----- */

.about_us {
  display: flex;
  text-align: center;
  padding: 5% 0 10% 0;
}

.about_us h2 {
  color: #222221;
  
}

.about_text {
  display: inline-flex;
  font-size: 30px;

  width: 70%;

}




/*  ----- Tour ----- */

.tour {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container-tour{
  text-align: center;
  width: 100%;
  max-width: 100%;

}


.tout-text{
  display: inline-flex;
  font-size: 30px;
  width: 80%;
  text-align: center;
}


.tour h2 {

  color: #1e5a7c;

  
}



/* настройка карточек */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.card img{
  border-radius: 5px;

}

.card {
  flex: 32%;
  margin: 5%; 
  border-radius: 0 0 25% 25%;
  padding: 0 0 5% 0;
  box-shadow: 0 12px 34px 8px rgba(11, 11, 11, 0.19);

}

.card > ul {
  list-style: none;
  padding: 0;
}
.card > ul li {
  width: 90%;
  margin: 50px auto 0;
  font-size: 27px;
}

.card > ul li:last-child {
  font-size: 23px;}

.card button {
  width: 50%;
  height: 40px;


}


/* ----- contact ----- */

.contact {
  display: flex;
  text-align: center;
  padding: 5% 0 0 0;
  background-color:rgba(255, 255, 255, 0.5);
}

.contact h2 {
  color: #222221;
  
}

.contact_text {
  display: inline-flex;
  font-size: 30px;

  width: 70%;

}




.social_button {
  display: inline-flex;
  text-align: center;

  margin: 5%;
  
}

.social a:hover {
  display: inline-flex;
  box-shadow: 0 0 34px 8px rgba(11, 11, 11, 0.19);
  border-radius: 35px;

  transform: translateY(-5px);
  -webkit-transition: all 1s ease-in-out;


}

