/* ----- общие ----- */
body {

    background-color: #e0e0e0;
    background-image: url(../FirstLayout/img/bg.png);
}

a {
  text-decoration: none;
}

h2{
  font-size: 64px;
  text-transform: uppercase;
}

button{
  cursor:pointer;
  border: 0;
  border-radius: 25px;
  outline:none;

  text-indent: 0px;
  border: 1px solid #888;
  -webkit-transition: all 0.5s ease-in-out;

}

button:hover {
  transform: translateY(-5px);
  -webkit-transition: all 1s ease-in-out;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


/* Header -> навигация и лого   */

header{
  display: flex;

  background: url(../FirstLayout/img/group1/bg-top.jpg)center / cover no-repeat #666;

  min-height: 280px;
  padding-top: 150px;
  padding-bottom: 150px;
}

#topbar {
  width: 100%;  

  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);

  position: fixed;
  top: 0;
  z-index: 999;
  
}


.navbar-logo {
  display: inline-flex;
  width: auto;
}


.menu li {
  display: inline-flex;
  
  text-transform: uppercase;
  float: center;

}

/* стиль текста меню */
.menu li a {
  font-size: 23px;
  color: #12100d;
  display: block;
  padding: 15px;

}

/* цвет наведение на меню */
.menu li a:hover {
  -webkit-transition: all 1s ease-in-out;
  background-color: rgba(243, 36, 74, 0.7);
  border-radius: 25px;
}



/* ----- test slider ----- */


.sliders {
  width: 100%;
  max-width: 50%;
}


.sliders-list {
  margin: 5%;
  padding: 0;
  list-style-type: none;
  position: relative;
  
  display: flex;
}

.slide {
  display: none;
}

.showing{
  display: list-item;
}

/* картинка слайда */
.slide img{
  z-index: 2;
  left: 5%;
  top: 5%;

}

/*  кнопка переключения слайдов */

.sliders-list button {
  width: 22px;
  height: 40px;
  border: 0;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;

  position: absolute;
  right: -50px;
  top: 40%;
  background: url("/FirstLayout/img/slides/arrow-right.png") no-repeat;


}

#arrowRight:hover {
  opacity: 1.0;
  transform: translateX(5px);
  -webkit-transition: all 1s ease-in-out;
}


/* ----- about us ----- */

.about_us {
  display: flex;
  text-align: center;
  padding: 1% 0 3% 0;
  background-color:#fff;
}

.about_us h2 {
  color: #222221;
}

.about_text {
  display: inline-flex;
  font-size: 30px;
  width: 70%;
}


/*  ----- Tour ----- */

.tour {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-tour{
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.tout-text{
  display: inline-flex;
  font-size: 30px;
  width: 80%;
  text-align: center;
}

.tour h2 {
  color: #1e5a7c;
}



/* настройка карточек */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

.card {
  width: 25%;
  max-width: 100%;
  margin: 5%; 
  border-radius: 0 0 25% 25%;
  padding: 0 0 2% 0;
  box-shadow: 0 12px 34px 8px rgba(11, 11, 11, 0.19);
  background-color: #fff;
}

.card > ul {
  list-style: none;
  padding: 0;
}

.card > ul li {
  width: 90%;
  margin: 5% auto 0;
  font-size: 27px;
}

.card > ul li:last-child {
  font-size: 23px;
}

.card button {
  width: 50%;
  height: 40px
}


/* ----- contact ----- */

.contact {
  display: flex;
  text-align: center;
  padding: 5% 0 0 0;
  background-color: #fff;
}

.contact h2 {
  color: #222221;
}

.contact_text {
  display: inline-flex;
  font-size: 30px;
  width: 70%;
}


.social_button {
  display: inline-flex;
  text-align: center;
  margin: 5%;
}

.social a:hover {
  display: inline-flex;
  box-shadow: 0 0 34px 8px rgba(11, 11, 11, 0.19);
  border-radius: 35px;

  transform: translateY(-5px);
  -webkit-transition: all 1s ease-in-out;
}



/* ----- modal form ----- */

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  display:none;
  z-index: 999;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  background: #fff;
  transform: translate(-50%, -50%);
  padding-top: 60px;
  
}


.close-modal {
  position: absolute;
  top: 15px;
  right: 15px; 
}

.modal img {
  cursor: pointer;
}

.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal form li{
  list-style: none;
}

.modal form input {
  width: 60%;
  border: 2px solid #000000;
  font-size: 20px;
  margin-bottom: 30px;
  height: 40px;
}

.modal form input[type="submit"] {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
  /* отключить кнопку */
  pointer-events: none;

}

/* запрет страницы на скролл */
.no-scroll {
  overflow: hidden;
}


/* при сужении всё в столб с выравниванием на ширину лого */
@media (max-width: 768px) {

  .menu li a {
    padding: 10px;
  }

  .card {
    width: 40%;
  }
}


@media (max-width: 480px) {
  header{
    min-height: 0px;
  }
  h2{
    font-size: 30px;
  }

  .menu{
    padding-left: 5px;
    padding-right: 5px;
    float: none;
  }
  .menu li a {
    padding: 2px;
  }
  .menu li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-logo {
    height: 60%;
    height: 60%;
    
  }

  .about_text{
    font-size: 20px;
  }

  .tout-text {
    font-size: 20px;
  }

  .card {
    width: 100%;
    box-shadow: 0 5px 16px 4px rgba(11, 11, 11, 0.19);

  }

  /* .contact h2 {
    font-size: 30px;
    color: #222221;
  } */

  .contact_text {
    font-size: 20px;
    width: 80%;
  }
}

